---
import BotonAgregar from "../components/BotonAgregar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import datos from "../data/data.json";
import CartList from "../components/CartList.astro";
import ConfirmAlert from "../components/ConfirmAlert.astro";
---

<BaseLayout title="Product list with cart">
  <header
    class="flex justify-between xl:mx-[9%] bg-blaco-rosa sticky top-0 z-10 py-2.5"
  >
    <h1 class="text-3xl font-bold mb-2">Desserts</h1>
    <button
      class="size-10 p-2 border border-red-100 rounded-full cursor-pointer hover:bg-green-200 relative"
      id="cart-btn"
    >
      <span
        class="absolute -top-2 -left-2 rounded-full bg-red-400 p-1 size-5 text-[9px] hidden"
      ></span>
      <img
        src="./shopping_cart_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"
        alt="Icono de carrito de compras"
        class="h-full"
      />
    </button>
  </header>
  <main class="flex flex-col justify-center gap-x-3.5 lg:flex-row mt-3.5">
    <section class="grid justify-center xs:grid-cols-2 sm:grid-cols-3">
      {
        datos.map((producto) => (
          <figure
            class="p-2 hover:shadow hover:shadow-red-300 xs:max-w-62.5"
            id={`pr-${producto.id}`}
          >
            <div class="relative flex justify-center mb-6 rounded-xl">
              <picture>
                <source
                  media="(min-width: 1024px)"
                  srcset={producto.image.desktop}
                />
                <source
                  media="(min-width: 640px)"
                  srcset={producto.image.tablet}
                />
                <img
                  src={producto.image.mobile}
                  alt={`Imagen de ${producto.name}`}
                  class="rounded-xl"
                  loading="lazy"
                  decoding="async"
                />
              </picture>
              <BotonAgregar
                precio={producto.price}
                nombre={producto.name}
                id={producto.id}
                client:visible
              />
            </div>
            <figcaption class="text-xs mb-1.5 text-[#87635a]">
              {producto.category}
            </figcaption>
            <h2 class="text-sm mb-1 text-[#260f08] font-semibold">
              {producto.name}
            </h2>
            <p class="text-[#c73a0f] font-semibold">${producto.price}</p>
          </figure>
        ))
      }
    </section>
    <section class="w-2xs"></section>
  </main>
  <dialog
    class="right-0 max-h-none h-full outline-none inset-auto"
    id="cart-modal"
  >
    <CartList />
  </dialog>
  <ConfirmAlert />
</BaseLayout>

<script src="../App.js"></script>
